<h1>About Us</h1>
<p>
  Aditya Birla Retail Limited is the retail arm of Aditya Birla Group, a USD 28 billion Corporation. The Company ventured into food and grocery retail sector in 2007 with the acquisition of a south based supermarket chain. Subsequently Aditya Birla Retail Ltd. expanded its presence across the country under the brand "more." with 2 formats Supermarket & Hypermarket.

Supermarket
more. - Conveniently located in neighbourhoods, more. supermarkets cater to the daily, weekly and monthly shopping needs of consumers. The product offerings include a wide range of fresh fruits & vegetables, groceries, personal care, home care, general merchandise & a basic range of apparels. Currently, there are over 575 more. supermarkets across the country.

Hypermarket
more.MEGASTORE - is a one-stop shopping destination for the entire family. Besides a large range of products across fruits & vegetables, groceries, FMCG products, more.MEGASTORE also has a strong emphasis on general merchandise, apparels & CDIT.

Currently, eleven hypermarkets operate under the brand more.MEGASTORE in Mysore, Vadodara, Aurangabad, Indore, Bengaluru, Mumbai, Hyderabad, Vashi, Rohini & Kirti Nagar in New Delhi & Nashik. 

Clubmore. - our loyalty program, currently has a strong membership base of over 1 million members.
</p>
