<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://aajtak.intoday.in/">News</a></li>
      <li><a></a></li>
     </ul>
  </nav>
</footer>
